<html>
<link rel="stylesheet" href="../styles.css">
<div  style="background-image: url(https://img.rawpixel.com/private/static/images/website/2022-05/pf-s113-ak-5716_3.jpg?w=1200&h=1200&dpr=1&fit=clip&crop=default&fm=jpg&q=75&vib=3&con=3&usm=15&cs=srgb&bg=F4F4F3&ixlib=js-2.2.1&s=b0acdc8cf90e5a2a39a2899a1489f2dc); filter: blur(5px) sepia(100%) invert(80%) brightness(0.50) grayscale(100%); background-repeat: no-repeat; background-size: 100%; margin: -8px; padding: 8px; height: 100%; width: 100%;background-color: rgb(162, 162, 162); text-align: center;">
</div>
<div style="margin: -8px; text-align: center;">
    <div style="background-color: black; color: rgb(162, 162, 162); position: fixed; width: 25%; height: 35%; border: 3px solid green; bottom: 50%; right: 37.5%; border-radius: 25px;">
    <h1>Welcome!</h1>
<p style=" font-size: 20px;">Create an account or login</p>
<form action="/users/register" class="btn btn-primary btn-block mb-2">
    <input type="submit" value="Register" style="background-color: rgb(162, 162, 162); border: 3px solid green; color: black; width: 90%; height: 40px; border-radius: 25px 25px 0px 0px;" />
</form>
<form action="/users/login">
    <input type="submit" value="Login" style=" margin: -17px; background-color: rgb(162, 162, 162); border: 3px solid green; color: black; width: 90%; height: 40px; border-radius: 0px 0px 25px 25px;" />
</form>
<form action="https://discord.gg/Gs47dgEzZz">
    <input type="submit" value="Join Discord" style=" background-color: rgb(162, 162, 162); border: 3px solid green; color: black; width: 70%; height: 40px; border-radius: 0px 0px 25px 25px;" />
</form>
</div>
</div>
</html>